*{
  margin: 0;
  padding: 0;
}


.item{
  border: 1px solid black;
  margin: 10px 0px;
  padding: 20px;
}

/* button{
  display: block;
  background-color: darkorange;
  color: antiquewhite;
  font-size: 1.3rem;
  padding: 5px;
} */